main{
    display: grid; /*макет из двух колонок. */
    grid-template-columns: 3fr 1fr; /* Задает колонки: первая (основной контент) в 2 раза шире второй (сайдбар). */
}
aside{
    grid-column: 2;
    position: sticky;
    top: 150px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 
        0 4px 30px rgba(0, 0, 0, 0.1),
        0 0 10px rgba(255, 255, 255, 0.6) inset;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    /* Дополнительные стили */
    height: fit-content;
    align-self: start;
}
/* Стилизация заголовков и текста внутри aside */
aside h3 {
    color: #0f512f;
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(0, 121, 59, 0.2);
    padding-bottom: 5px;
}
aside p {
    color: #007f11;
    line-height: 1.5;
    margin-bottom: 15px;
}
section{
    grid-column: 1;
    width: 95%; /*занимает % экрана*/
    min-height: 300px; /*минимальная высота*/
    margin: 30px auto; /*распологаем по центру, делаем отступ 30пкс между секциями*/
    padding: 20px; /*внутренний отступ*/
    border-radius: 20px; /*закругление краев*/
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: /*тень*/
        0 4px 30px rgba(0, 0, 0, 0.1),
        0 0 10px rgba(255, 255, 255, 0.6) inset;
    backdrop-filter: blur(5px); /*блюр фона*/
    border: 1px solid rgba(255, 255, 255, 0.3);

    position: relative; /*Создаем контекст для абсолютного позиционирования */
}
/*ОФОРМЛЕНИЕ ТЕКСТА*/
h2, h3{
    color: #0f512f;
    margin-bottom: 15px;
}
/* Общий стиль для текста в секции */
p,
ul {
    line-height: 1.6;
    margin-bottom: 15px;
    color: #007f11;
}

/* Выделение ключевых фраз */
.highlight {
    font-weight: 700;
    color: #00833f; /* Насыщенный зеленый */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}
/*ДЕКОРАТИВНЫЕ ЭЛЕМЕНТЫ*/
.decor{
    /* Размер */
    width: 85px;
    height: 85px;
    
    /* Позиционирование */
    position: absolute;
    z-index: 10;
}
.decor.top-left{
    top: -35px;
    left: -25px;
    right: auto;
    bottom: auto;
}
.decor.top-right{
    top: -35px; 
    right: -15px;
}
aside .decor.top-right{
    top: -25px; 
    right: -25px;
}
.decor.bottom-left{
    bottom: -25px; /* Привязка к низу */
    left: -35px;   /* Привязка к левому краю */
    top: auto;
    right: auto;
}
.decor.bottom-right{
    bottom: -10px;
    right: -10px;
    top: auto;
    left: auto;
}

/*Украшения*/
#clever{
    background-image: url('../fotos/decor_clever.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#fish{
    background-image: url('../fotos/fish_lemon.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(90deg);
}
#blue-flower{
    background-image: url('../fotos/blue_flower.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#miku{
    background-image: url('../fotos/miku.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#butterfly{
    background-image: url('../fotos/butterfly.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#nyancat{
    background-image: url('../fotos/nyancat.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#turtle{
    background-image: url('../fotos/turtle.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#pixel-heart{
    background-image: url('../fotos/pixel_heart.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#dance-cat{
    background-image: url('../fotos/dance_cat.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#hello-kitty{
    background-image: url('../fotos/hellokitty.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#jelly-cat{
    background-image: url('../fotos/jelly_cat.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#messages{
    background-image: url('../fotos/messages.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#blue-star{
    background-image: url('../fotos/blue_star.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#dolfin{
    background-image: url('../fotos/decor_dolfin.png');
    background-size: contain;
    background-repeat: no-repeat;
}
@media(max-width: 1220px){
    .decor{
        width: 70px;
        height: 70px;
    }
    .decor.top-left{
        top: -25px;
        left: -15px;
        right: auto;
        bottom: auto;
    }
    .decor.top-right{
        top: -25px; 
        right: -5px;
    }
    .decor.bottom-left{
        bottom: -15px; /* Привязка к низу */
        left: -20px;   /* Привязка к левому краю */
        top: auto;
        right: auto;
    }
    .decor.bottom-right{
        bottom: -5px;
        right: -5px;
        top: auto;
        left: auto;
    }
}
@media(max-width: 1220px){
    .timeline-carousel .tc-slide {
        /* 2 видимых слайда: (100% - 1*20px gap) / 2 */
        flex: 0 0 calc((100% - 20px) / 2);
        width: calc((100% - 20px) / 2);
    }
}
@media(max-width: 780px){
    h2, h3{
        font-size: 1.2rem;
    }
    /* Общий стиль для текста в секции */
    p,
    ul {
        line-height: 1.3;
        font-size: 0.9rem;
    }
    blockquote{
        font-size: 0.9rem;
    }

    aside {
        /* При маленьком экране aside не липкий и занимает всю ширину */
        position: static; 
        grid-column: 1; /* Перемещаем aside в единственную колонку */
        width: 95%; /* Почти полная ширина */
        margin: 20px auto;
        top: auto;
    }
    main{
        grid-template-columns: 1fr;
    }
}
@media(max-width: 410px){
    .decor{
        width: 50px;
        height: 50px;
    }
    .decor.top-right{
        top: -15px; 
        right: 0px;
    }
    aside .decor.top-right{
        right: -5px;
    }
}