main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
section{
    grid-column: 1;
    width: 95%;
    min-height: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow:
        0 4px 30px rgba(0, 0, 0, 0.1),
        0 0 10px rgba(255, 255, 255, 0.6) inset;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    position: relative;
}
aside{
    grid-column: 2;
    position: sticky;
    top: 150px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 
        0 4px 30px rgba(0, 0, 0, 0.1),
        0 0 10px rgba(255, 255, 255, 0.6) inset;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    /* Дополнительные стили */
    height: fit-content;
    align-self: start;
}
/* Стилизация заголовков и текста внутри aside */
aside h3 {
    color: #0f512f;
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(0, 121, 59, 0.2);
    padding-bottom: 5px;
}
aside p {
    color: #007f11;
    line-height: 1.5;
    margin-bottom: 15px;
}

/*ОФОРМЛЕНИЕ ТЕКСТА*/
h2, h3{
    color: #0f512f;
    margin-bottom: 15px;
}
/* Общий стиль для текста в секции */
p,
ul {
    
    line-height: 1.6;
    margin-bottom: 15px;
    color: #007f11;
}

/* Выделение ключевых фраз */
.highlight {
    font-weight: 700;
    color: #00833f;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}


/*Украшения*/

#clever{
    background-image: url('../fotos/decor_clever.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#fish{
    background-image: url('../fotos/fish_lemon.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(90deg);
}
#blue-flower{
    background-image: url('../fotos/blue_flower.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#miku{
    background-image: url('../fotos/miku.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#butterfly{
    background-image: url('../fotos/butterfly.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#nyancat{
    background-image: url('../fotos/nyancat.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#turtle{
    background-image: url('../fotos/turtle.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#pixel-heart{
    background-image: url('../fotos/pixel_heart.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#dance-cat{
    background-image: url('../fotos/dance_cat.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#hello-kitty{
    background-image: url('../fotos/hellokitty.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#jelly-cat{
    background-image: url('../fotos/jelly_cat.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#messages{
    background-image: url('../fotos/messages.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#blue-star{
    background-image: url('../fotos/blue_star.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#dolfin{
    background-image: url('../fotos/decor_dolfin.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
}
#blueberries{
    background-image: url('../fotos/decor_blueberries.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#bro{
    background-image: url('../fotos/decor_bro.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#cutebunny{
    background-image: url('../fotos/decor_cutebunny.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#disk{
    background-image: url('../fotos/decor_disk.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#icecream{
    background-image: url('../fotos/decor_icecream.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#jellyturtle{
    background-image: url('../fotos/decor_jelly_turtle.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(90deg);
}
#jellyfish{
    background-image: url('../fotos/decor_jellyfish.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#music-cat{
    background-image: url('../fotos/decor_music_cat.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#jelly-star-1{
    background-image: url('../fotos/decor_star.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#jelly-star-2{
    background-image: url('../fotos/decor_star2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

@media(max-width: 1220px){
    .timeline-carousel .tc-slide {
        flex: 0 0 calc((100% - 20px) / 2);
        width: calc((100% - 20px) / 2);
    }
}
@media(max-width: 780px){
    h2, h3{
        font-size: 1.2rem;
    }
    p,
    ul {
        line-height: 1.3;
        font-size: 0.9rem;
    }
    blockquote{
        font-size: 0.9rem;
    }

    aside {
        position: static; 
        grid-column: 1;
        width: 95%;
        margin: 20px auto;
        top: auto;
    }
    main{
        grid-template-columns: 1fr;
    }
}
